body {
    background: #1e555c;
    color: white;
    font-size: 30px;
    text-align: center;
}

/* Container */
#container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Titles */
.main-title {
    font-size: 50px;
    margin-bottom: 20px;
}

/* Controls */
.btn-level,
.length-control {
    display: inline-block;
}

.length-control .btn-level:nth-child(3) {
  width: 40px;
}

.length-control {
    width: 250px;
}

/* Buttons */
button {
    background: none;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Timer */
.timer {
    border: 7px solid #13353a;
    margin: 20px auto 10px;
    width: 270px;
    height: 160px;
    border-radius: 50px;
    position: relative;
}

.timer-wrapper {
    position: absolute;
    width: 190px;
    height: 110px;
    left: 50%;
    top: 50%;
    margin-left: -95px;
    margin-top: -57px;
}

#time-left {
    font-family: digital;
    font-size: 80px;
}

/* Author */
.author {
    text-align: center;
    font-family: "Share Tech Mono", monospace;
    margin-top: 15px;
    font-size: 14px;
    color: #a50d0d;
}

.author a {
    text-decoration: none;
    color: #00264d;
    line-height: 26px;
}